*{
    box-sizing: border-box;
    list-style:none;
    
}
body{
    margin:0px;

}
header{
    
    background:black;
    
   
}
.apply{
    padding: 0px 20px;
    margin: 10px;
    background-color: antiquewhite;
    font-size: 30px;
}
nav{
    display: flex; 
    background-color: rgb(29, 50, 236);
    overflow: hidden;
}
nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    float: left;
}
#log-in{
    float: right;
    margin-right: 15px;
}
section {
    text-align: center;
    padding-top: 20px;
   
}
section{
    background-color: rgb(125, 222, 235);
}
iframe{
    padding: 20px;
}
h2{
    padding-bottom: 10px;
    color: black;
    font-family: monospace;
    font-style: oblique;
}
footer{
    overflow: hidden;
    background-color: gray;
}
footer a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    float: left;
}

a:hover{
    color: chartreuse;
}
.banner{
    background-image: url(logo2.jpg);
    height: 210px; 
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
@media screen and (max-width:700px){
    nav{
        flex-direction: column;
    }
}
.flex-align-right{
    margin-left: auto;
}
#button{
    padding: 15px;
    margin: 5px;
}
.h1{
    color: rgb(243, 13, 44);
}
img.left{float: left; padding-left: 50;}
